.time-container {
  border: 5px solid black;
  border-radius: 50%;
  background-color: white;
}
.time-value {
  width: 35px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
