.level {
  flex-grow: 0.6;
  max-width: 200px;
  margin-right: 1%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;

  &__label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.25rem;
    
    &__symbol {
      display: none;
    }
  }

  &__number {
    background-color: white;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    color: #f50057;
    align-items: center;
    border: 2px;
    font-size: 20px;
    font-weight: 900;
    margin-left: 5px;
  }
}
