@import "../../color-variables.scss";

.card-action {
  &-level-1 {
    background: $level-1-color !important;
  }
  &-level-2 {
    background: $level-2-color !important;
  }
  &-level-3 {
    background: $level-3-color !important;
  }
  &-level-4 {
    background: $level-4-color !important;
  }
  &-level-5 {
    background: $level-5-color !important;
  }
  &-level-6 {
    background: $level-6-color !important;
  }
}
