.own-game {
  color: white;
  display: flex;
  width: 100%;
  &__words {
    padding: 5vw 2vw;
    width: 20%;
    border-left: 1px solid #ffffff4f;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    &_item {
      display: flex;
      align-items: center;
      text-transform: capitalize;
    }
  }
  &__background {
    background: url("../../assets/own-game.jpg");
    z-index: -1;
    background-size: cover;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__content {
    color: white;
    width: 80%;
    margin: 0 auto;
    max-width: 600px;
    padding-right: 5vw;
  }
  &__timer {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffffcf;
    position: relative;
    &-animate {
      border-radius: 50%;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      animation: signal 1s infinite;
      animation-delay: 0.9s;
    }
    &-container {
      display: flex;
      justify-content: flex-start;
      margin: 5vw 0;
    }
  }
  & input {
    font-size: 1.5rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.334;
    letter-spacing: 0em;
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 200px;
    color: white;
    text-transform: capitalize;
  }
  & button {
    margin-top: 5vw;
  }
  & .wrong {
    color: rgb(233, 0, 0);
  }

  & .correct {
    color: rgb(0, 233, 0);
  }
  & h4 {
    text-align: end;
  }
  & h5 {
    text-align: justify;
  }
}

@keyframes signal {
  from {
    background-color: none;
  }
  50% {
    background-color: rgba(233, 0, 0, 0.7);
  }
  to {
    background-color: none;
  }
}
