.dialog {
  padding: 1rem;  
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  & button {
    width: 12rem;
    height: 6rem;
    font-weight: bold;
  }  
}
