.links-game {
  margin-top: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);  

  @media (max-width: 768px) { 
    grid-template-columns: repeat(2, 1fr);
  }  

  &__button-link {
    width: 100%;        
  }
}
