.main {
  position: relative;
  padding-top: 4rem;
  flex: 1 0 auto;  
}

.main-img {
  background-image: url("../assets/main.jpg");
  position: absolute;
  height: 100%;
  right: 0;
  left: 0;
  width: 100%;
  z-index: -2;
  background-position-y: center;
  background-size: cover;
}
