.answer-block{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3%;
}

.answer-block-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.1%;
  font-size: 20px;
}

.answer-list-item {
  margin: 0 10px;
  padding: 5px;
}

.answer-list-item:hover{
  cursor: pointer;
  background-color: rgba(255,255,255,0.7);
}

.answer-block-button {
  margin-top: 3% !important;
}

.list-answer{
  color: rgba(0,0,0,0.4);
}

.correctWord{
  color: rgba(0,0,0,1) !important;
  font-weight: 700 !important;
}
