.audio-block {   
  margin-bottom: 72px !important;
  width: 120px !important;
  height: 120px !important;  
  animation: show 0.5s forwards;
}

@keyframes show {
  0%   {transform: scale(0); opacity: 0;}  
  100% {transform: scale(1); opacity: 1;}
}

.audio-block-icon{
  width: 70% !important;
  height: 70% !important;
}

.audio-block-image{
  width: 120px !important;
  height: 120px !important;
  animation: show 0.5s forwards;
}

.audio-block-word{  
  font-weight: bold !important;
}

.audio-block-answer {
  margin-right: 1rem !important;
}

.audio-block-container{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: show 0.5s forwards;
}

.audio-block-answer {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(61, 7, 189, 0.3);
  margin-right: 5px;
}

