.audio-call{
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  background: no-repeat center url("../../assets/images/audioCall-background.png");
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 1px solid black;
  position: relative;
  z-index: 0;
}

.fullscreen-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 2px solid rgba(163, 163, 163, 0.8);
  background: white;
  width: 32px;
  height: 30px;
  margin: 10px;
  right: 0px;
  top: 0px;
  z-index: 999;
}

