.game-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  z-index: 1100 !important; 

  & > .fullscreen-enabled {
    background: white;
  }

  &__button-close {
    position: fixed !important;
    top: 0.5rem;
    right: 0.5rem;
  }

  &__button-fullscreen {
    position: fixed !important;
    top: calc(1rem + 40px);
    right: 0.5rem;
  }
}
