@import "../../scss/color-variables.scss";

.word-card {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ececec;

  &.group-1 {
    background: $group-1-color !important;
  }
  &.group-2 {
    background: $group-2-color !important;
  }
  &.group-3 {
    background: $group-3-color !important;
  }
  &.group-4 {
    background: $group-4-color !important;
  }
  &.group-5 {
    background: $group-5-color !important;
  }
  &.group-6 {
    background: $group-6-color !important;
  }

  &.hard {
    border: 3px solid #3f51b5;
  }
}
