.game-status {
  width: 100%;
  border-bottom: 1px solid black;
}
.game-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px !important;
}
.game-field{
  width: 55%;
  max-width: 400px;
  text-align: center;
}
